@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  height: 100%;
}

.home-banner {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-image: url("https://img.staticmb.com/mbcontent/images/crop/uploads/2024/9/Main-Door-Design-Ideas-for-Your-Home_0_1200.jpg");
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  /* Semi-transparent black */
  z-index: 1;
  /* Keeps the overlay between background and content */
}

.Banner {
  position: relative;
  z-index: 2;
  /* Keeps the Banner text above the overlay */
}